.main_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 30px;
    flex-wrap: wrap;
}


.main_description h1 {
    font-size: 50px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.1;

}

.main_description p {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 30px;
    text-align: justify;
    width: 90%;
    text-align: center;
}

@media (max-width:545px) {
    .main_description h1 {
        font-size: 8vw;
    }

    .main_description p {
        font-size: 15px;
    }
}
