.card {
    position: relative;
    background-color: white;
    border: 2px solid #ff6d3a;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    height: 350px;
}

.imageContainer {
    position: absolute;
    top: -135px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 200px;
}

.image {
    width: 100%;
    height: auto;
}

.content {
    margin-top: 60px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #2e2e2e;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: #6c6c6c;
    margin-bottom: 20px;
}

.link {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}