.hero_section {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    border-radius: 8px;
    padding-bottom: 40px;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 100%
}

.hero_section img {
    border-radius: 8px;
    padding-right: 24px;
    width: 30vw;
}

.hero_section h2 {
    font-size: 50px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.1;
}

.hero_section p {
    font-size: 20px;
    color: #6c6c6c;
    line-height: 1.2;
    margin-bottom: 30px;
    text-align: justify;
    
}

@media(max-width:880px){
    .hero_section img {
        display: none;
    }
}
@media(max-width:1024px){
    .hero_section {
        justify-self: center;
    }
    
}
@media(max-width:1475px){
    .hero_section{
       width: 90%;
    }
}